@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

@media screen and (max-width: 375px) {
  .container{
    padding:10rem;
  }
  .part2{padding: 0.9rem;}
}
 body{
   height: 100vh;
 }

.container {
  background-color: #37393a;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#weather-box {
  background-color: #77b6ea;
  padding: 2rem;
  width: 38rem;
  height: 20rem;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(226, 224, 224, 0.29);
  -moz-box-shadow: 0px 0px 27px 0px rgba(226, 224, 224, 0.29);
  box-shadow: 0px 0px 27px 0px rgba(226, 224, 224, 0.29);
  display: none;
}
.part1 {
  background-color: #37393a;
  color: #77b6ea;
  height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
}
.part1 :nth-child(1) {
  font-size: 1.6rem;
}
#location,
#date,
#condition {
  margin: 0.3rem;
}
#temperature,
#pressure,
#humidity {
  margin-left: 0.3rem;
}
.part2 {
  color: #37393a;
}
.information {
  display: flex;
  align-items: center;
  width: 11rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

/*spinner*/
.spinner {
  width: 40px;
  height: 40px;
  background-color: #77b6ea;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
